# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-error.log

# Entornos
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Build
dist
build
