/* src/styles/main.css */ /**
 * ============================================
 * SIRES - SISTEMA DE ESTILOS GLOBAL
 * Metro CDMX - Tailwind CSS v4
 * ============================================
 */

@import "tailwindcss";

/* Configuración de temas claros/oscuro */
@variant dark (&:where(.dark, .dark *));

@import "./fonts.css";
@import "./theme.css";
@import "./nprogress.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Reseteo opcional para evitar el flash blanco en dark mode al cargar */
html {
  background-color: var(--bg-app);
  color: var(--text-body);
}

@layer base {
  * {
    border-color: var(--border-struct);
  }
  body {
    @apply bg-app text-txt-body;
  }
}
