#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--color-brand); /* #FE5000 - Tu variable de tema */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

/* Efecto de brillo (Glow) al final de la barra */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--color-brand), 0 0 5px var(--color-brand);
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: none;
} /* Ocultamos el spinner nativo */
