@import "tailwindcss";

@import "./styles/fonts.css";
@import "./styles/theme.css";

html {
  background-color: var(--bg-app);
  color: var(--text-body);
}

@layer base {
  * {
    border-color: var(--border-struct);
  }
  body {
    @apply bg-app text-txt-body font-body;
  }
}
